.center-table {
    margin: 5% 20% 0% 20%;
}

.content {
    width: 50%;
    margin: 0 auto;
    padding: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center-justify {
    justify-content: center;
}

.table {
    width: 100%;
}

.column {
    height: 50px;
    display: block;
    background-color: #cccccc;
    flex: 1;
}

.column:nth-child(odd) {
    background-color: #aaaaaa;
}


/*body .ui-table .ui-table-thead > tr > th.color-header-grid {*/
    .color-header-grid {
        background-color: red;
    }